@model BulkyBook.Models.Company

<form method="post" asp-action="Upsert">
    <input type="hidden" asp-for="@Model.ID" />

    <div class="row">
        <div class="border-1 p-3 mt-4 row">
            <div class="col-12 pb-2">
                <h2 class="text-primary">
                    @* If id==0 => Display: Create Product.
                        Else => Display: Update Product
                    *@

                    @(Model.ID!=0?"Update":"Create") Company
                </h2>
                <hr />
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="@Model.Name"></label>
                <input asp-for="@Model.Name" class="form-control" type="text" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.PhoneNumber"></label>
                <textarea asp-for="@Model.PhoneNumber" class="form-control" rows="3"></textarea>
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="mb-3 col-6">
                    <label asp-for="@Model.City"></label>
                    <input asp-for="@Model.City" class="form-control" type="text" />
                    <span asp-validation-for="@Model.City" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="@Model.StreetAddress"></label>
                    <input asp-for="@Model.StreetAddress" class="form-control" type="text" />
                    <span asp-validation-for="@Model.StreetAddress" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="@Model.State"></label>
                    <input asp-for="@Model.State" class="form-control" type="text" />
                    <span asp-validation-for="@Model.State" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="@Model.PostCode"></label>
                    <input asp-for="@Model.PostCode" class="form-control" type="text" />
                    <span asp-validation-for="@Model.PostCode" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-12">
            @if (Model.ID != 0)
            {
                <button type="submit" class="btn btn-primary" style="width:150px">
                    Update
                </button>
            }
            else
            {
                <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">
                    Create
                </button>
            }
            <a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Back to list
            </a>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}